header {
    display: flex;
    border-bottom: 1px solid gray;
    background-color:white;
}

.add-video {
    background: transparent linear-gradient(180deg, #36EF49 0%, #1B7825 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 1.5em;
    color: white;
    margin: 0.7em;
    text-align: center;
    letter-spacing: 0.1em;
    width: 20%;
    height: 70%;
}

.add-video, a{
    display:flex;
    justify-content: center;
    line-height: 1em;
}

.search-bar {
    width: 70%;
    padding: 1em 1em;
}

.search-bar>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    padding: 1em 1em;
    letter-spacing: 0.72px;
    color: gray;
    margin: 0;
    box-sizing: border-box;
}

.fa-plus-square{
    font-size: 2em;
}
.nav-menu-icon{
    display: none;
}

.menu-icon-containter{
    height: 100%;
    display: table;
    margin-left: 1em;
}

@media only screen and (max-device-width: 768px) {
    .nav-menu-icon {
        display: table-cell;
        vertical-align: middle;
    }

    .add-video-text{
        display: none;
    }
}