nav {
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #36EF49 0%, #1B7825 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
nav > img {
    width: 60%;
    margin: 2em auto;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li a i {
    font-size: 2em;
}

li:last-child{
    position: absolute;
    bottom: 2em;
    width: 100%;
}

.profile{
    list-style-type: none
}

.profile_btn{
    list-style-type: none
}

ul> li>a:first-child{

    text-align: center;
    margin-top:1em;
}

.fas::before{
    font-size: 0.5em;
}

.fa-sign-out-alt{
    font-size: 2.5em;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: transparent linear-gradient(180deg, #36EF49 0%, #1B7825 100%) 0% 0% no-repeat padding-box;
    transition: 0.5s;
    overflow: hidden;
}

.sidenav a {
    padding: 0.5em;
    text-decoration: none;
    font-size: 0.8em;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.open-nav{
    width: 17%;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media only screen and (max-device-width: 768px) {

    li:last-child {
        position: relative;
        bottom: unset;
        width: 100%;
    }
}

@media only screen and (max-device-width: 420px){
    img {
        margin: 0em;
    }
    nam > img {

        margin: 0em auto;
    }
}
