.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255,0,0,0.5);
    max-width: 300px;
    margin: 5vh auto;
    text-align: center;

}
.title {
    color: grey;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}


.fa-twitter{
    color:#1DA1F2;
}

.fa-facebook{
    color:#4267B2;
}
.fa-linkedin{
    color:#2867B2;
}

.profile-changes{
    display:flex;
    flex-display: row;
}

#h1-profile{
    margin-left:1em;
}