body{
    margin:0;
}

form.login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;

    background: #FFFFFFBD 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 45px;
    opacity: 1;
}
button{    
    background: transparent linear-gradient(180deg, #36EF49 0%, #1B7825 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 25px;
    opacity: 1;
    border: none;
    color: white;
    margin: 1em;
    /* line-height: .5em;*/
}

buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input, textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 0em 1em;
    margin: 0.5em;
    width: 50%;
}

ul {
    list-style-type: none;
    color: white;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0.75px;
    height: 100%;
    margin: 0 auto;
    padding: 0;

    position:relative;
}

main {
    width: 83%;
    position:absolute;
    right:0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image:url(../img/physio-background.png);
}

.base-containter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.containter {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #36EF49 0%, #206F29 100%) 0% 0% no-repeat padding-box;

    /* Rozmieszczenie na stronie*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50%;
    text-align: center;
}

.login-containter{
    width: 50%;
}

.button {
    border: 1px solid #FFFFFF;
    border-radius: 24em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 0.2em;
}

button.button.logout-button {
    width: 90%;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

.fa-heart{
    color:red;
}

::placeholder {
    color: black;
    opacity: 65%;
}

@media only screen and (max-device-width: 768px) {
    .containter {
        flex-direction: column ;
    }

    * {
        font-size: 36px;
    }

    .login-containter, .logo {
        width: 100%;
    }
    .logo, img {
        width: 80%;
        margin-top:1em;
    }


    form {
        width: 100%;
        margin: auto;
    }
    form.login{
        height: unset;
    }

    main{
        width: 100%;
    }
}