section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 1em;
    overflow: auto;
}
.videos>div>img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    
}

.videos>div>div {
    height: 30%;
    text-align: left;
    font: normal normal bold 11px/12px Arial;
    letter-spacing: 0px;
    color: #00cc33;
    margin: 0em 1em 0em 1em;
    display: flex;
    flex-direction: column;
}


.videos>div {
    background: #F1F9FF 0% 0% no-repeat padding-box;
    border: 1px solid gray;
    height: 400px;
    /*padding: 0.5em;*/
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-section{
    display:flex;
    justify-content: space-between;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}

.video-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/physio-background.png");
    background-size: contain;
}
.add-video > a {
    color: white;
    text-align: center;
    margin: 0.5em;
}

#logout{
    color:white;
}

h2{
    margin-block-start: 0.2em;
    margin-block-end: 0.5em;
}

h5{
    margin-block-start: 0.2em;
    margin-block-end: 0.5em;
}
.video-description {
    height: 300px;
    overflow:auto;
}

@media only screen and (max-device-width: 768px){
    section{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-device-width: 420px){
    section{
        grid-template-columns: 1fr;
    }
}
